header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #BFA95E;
  color: #FFFFFF;
  height: 620px;;
  background-image: url("../images/az-subtle.png");;
}

header > div > img {
  margin-top: 6em;
}
