nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  position: fixed;
}

#tweeter {
  font-family: 'Bungee', sans-serif;
}
nav > span {
  margin: 1.5em;
 }
.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.5em;

}